body {
    background-image: url("cursos.jpg");
}
.tabela {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.titulo {
    color: yellow;
    font-size: 32px;
    
}
.subt {
    color: crimson;
}